.container {
  background-image: url("../../img/bg_Home.png");
  height: 100vh;
  width: 100%;
  overflow: auto;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 340px);
  justify-content: center;
}


.card {
  width: 90%;
  justify-content: center;
  text-align: center;
  margin: auto;
}


a {
  text-decoration: none;
}


.div_loading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 180%;
}


.loading {
  font: bold 7.5vw/1.6 "Acme", sans-serif;
  color: rgb(95, 79, 68);
  font-size: 50px;
  letter-spacing: 5px;
  text-shadow: -1px -1px 0px #2e2928, 3px 3px 0px rgb(183, 143, 143), 6px 6px 0px rgb(243, 239, 212);
}


 @media only screen and (max-width: 650px) {

  .container {
    background-image: url("../../img/bg_Home_Responsive.png");
  }

  .loading { 
    margin: auto;
    font-size: 30px;
    letter-spacing: 3px;
    
  }
}