.button {
  position: relative;
  padding: 6px 20px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 1.25rem;
}


.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 5px;
  background: rgba(154, 112, 84, 0.7);
  box-shadow: 0px 0px 6px 0px rgba(86, 84, 84, 0.5);
  width: 45px;
  height: 35px;
  transition: all 0.3s ease;
}


.button span {
  position: relative;
  font-family: "Fredoka One";
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}


.button:hover:before {
  width: 100%;
  background: rgba(84, 139, 74, 0.803);
  box-shadow: 0px 0px 6px 0px rgba(86, 84, 84, 0.5);
}


.button:active {
  transform: scale(0.95);
}