.bg_negro {
  height: 150%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  position: absolute;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  background-color: rgba(245, 245, 245, 0.921);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 2rem;
  margin-top: -18.75rem;
  border-radius: 0.5em;
}


.container p {
  font-size: 1.3em;
  margin-top: 1.2em;
}


@media only screen and (max-width: 40.625rem) {
  .container {
    padding: .9375rem 2em;
    margin-bottom: 8.125rem;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
  }
  
  .bg_negro {
    height: 110%;
    width: 100%;
  }
 
  
} 