.input {
  height: 1.7em;
  width: 12em;
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgb(255, 255, 255);
  border-radius: .3125em;
  border:1px solid rgba(176, 164, 148, 0.943);
  box-shadow: 0px 0px 6px 0px rgba(86, 84, 84, 0.5);
  outline: 0;
  padding-left: 3px;
}