.container {
  background-repeat: no-repeat;
  background: url("../../img/bg_Details.png");
  background-size: cover;
  position: absolute;
  overflow: auto;
  height: 100vh;
  width: 100%;
}

/*Efecto blur a todo el background, por ahora no lo uso*/
/* .wrap{  */
  /* background-color: #fff; */
  /* padding: 2rem 3rem;
  text-align: center;
  color: #fff;
  border: 3px solid #fff;
  box-shadow: 0px 0px 25px #222;
  backdrop-filter: blur(10px);
} */


.title {
  font-size: 2.375em;
  font-family: "Sniglet", cursive;
  margin: 0.3em;
  color: rgba(60, 56, 45, 0.94);
  text-shadow: -1px 0 rgb(255, 255, 255), 0 0px rgb(255, 255, 255),
    1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}


.text {
  margin: auto;
  padding: auto;
  color:  rgb(38, 36, 36);
  font-size: 1.1875em;
  padding: 2%;
  font-family: 'Fredoka ', cursive;
}


.card {
  background-color: rgb(194, 169, 152);
  box-shadow: 0px 0px 6px 0px rgb(252, 251, 251);
  width: 45%;
  height: 75%;
  margin: auto;
  margin-top: 1.5625em;
  border-radius: 15px;
  overflow: auto;
} 


.img {
  width: 45%;
  height: 45%;
  border-radius: 15px;
} 


.btn_createDog {
  width: 10%;
  background-color: rgb(159, 143, 123);
  box-shadow: 0px 0px 6px 0px rgb(252, 251, 251);
  color: rgb(38, 36, 36);
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 1.5%;
  font-family: "Sniglet", cursive;
  font-size: 1.0625em;
}


.btn_createDog:hover {
  background-color: rgb(179, 145, 103);
  transform: scale(1.1);
  cursor: pointer;
}


.btn_home {
  width: 10%;
  background-color: rgb(159, 143, 123);
  box-shadow: 0px 0px 6px 0px rgb(252, 251, 251);
  color:  rgb(38, 36, 36);
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 1%;
  font-family: "Sniglet", cursive;
  font-size: 1.0625em;
}


.btn_home:hover {
  background-color: rgb(179, 145, 103);
  transform: scale(1.1);
  cursor: pointer;
}


.loading {
  font: bold 7.5vw/1.6 "Acme", sans-serif;
  color: white;
  font-size: 50px;
  letter-spacing: 5px;
  text-shadow: -1px -1px 0px #f4511e, 3px 3px 0px gainsboro, 6px 6px 0px teal;
}


.edit {
 display: flex;
 align-items: center;
 flex-direction: row-reverse;
 justify-content: stretch;
 margin: 2%; /*padding del titulo*/
 padding: auto;
}


.btn_delete {
  width: 90%;
  background-color: burlywood;
  color: rgb(4, 4, 4);
  padding: 10px 10px;
  margin: 5%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 2%;
  font: 1vw "Acme", sans-serif;
}


.btn_delete:hover {
  background-color: rgb(156, 130, 96);
  transform: scale(1.1);
  cursor: pointer;
}


@media only screen and (max-width: 650px) {

  .img {
    width: 60%;
    height: 33%;
    margin: 10px 0px 20px 0px;
  }

  .card {
    margin-top: 6%;
    width: 80%;
    height: 80%;
    background-color: rgba(212, 177, 146, 0.671);
  }

  .title {
    font-size: 1.8em;
    margin: 0.1em;
  } 
  
  .text {
    font-size: 1em;
  }

  .container {
    background-image: url(../../img/bg_Detail_Responsive.png)
  }
    
  .btn_home {
    width: 30%;
    height: 4%;
    margin-top: 10%;
    font-size: 1em;
    padding: 2px 5px;
  }

  .btn_createDog {
    width: 30%;
    height: 4%;
    margin: 3%;
    font-size: 1em;
    padding: 2px 5px;
  }
  
}