.nav {
    margin: 30px 3px 55px 3px;
    display: inline-block;
    position: center;
    height: 1px;
    padding: 0; 
}


.input {
    width: 200px;
    margin-top: -25px;
    padding: 6px 10px;
    font-size: .9375em;
    border-radius: 5px;
    border: none;
    font-family: "Sniglet", cursive;
    outline: 0;
    background-color:rgba(255, 255, 255, 0.678);
    box-shadow: 0px 0px 6px 0px rgba(53, 53, 53, 0.5);
}


.input:active {
    border: #ddd;
    color: white; 
}


.btn_lupa {
    float: right;
    background: none;
    font-size: 1.25em;
    border: none;
    cursor: pointer;
    margin-top: -2px;
}


.btn_lupa:hover {    
    transform: scale(1.1);
} 


@media only screen and (max-width: 650px) {
    .input {
        width: 100px;
        padding: 6px 10px;
        font-size: 14px;
    }

    .btn_lupa {
        font-size: 18px;
    }
}