.paginated {
  display: grid;
  grid-template-columns: repeat(auto-fill, 40px);
  list-style: none;
  gap: 5px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.number {
  background-color: burlywood;
  color: rgb(255, 255, 255);
  list-style: none;
  display: flex;
  font-size: 15px;
  margin: auto;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  font: 1vw/1.6 "Acme", sans-serif;
}

.number:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  position: relative;
}

.current {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  position: relative;
  background: rgb(156, 130, 96);
}

.img::before {
  content: "";
  background: rgb(156, 130, 96);
  background-size: 30px 30px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  z-index: -1;
  opacity: 0.9;
}

.nav {
  width: 70%;
  margin: auto;
}
