.select {
  width: 16em;
  padding: 12px 20px;
  margin: 8px 5px;
  display: inline-block;
  border: 1px solid rgb(235, 229, 227);
  border-radius: 6px;
  box-sizing: border-box;
  font-family: "Sniglet", cursive;
  font-size: 14.5px;
  background-color:rgba(250, 246, 246, 0.916);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  color: rgb(47, 38, 34);
  outline: 0; /*quita bordes dentro del select*/
}


.row {
  display: flex;
  /* display:-webkit-inline-box; */
  justify-content: center;
  align-items: center;
  margin-top: 7.5em;
}

/* .row2 {
  display: flex;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
} 
  */

.btn_reload {
  width: 10%;
  background-color: rgb(167, 147, 132);
  box-shadow: 0px 0px 6px 0px rgba(238, 232, 232, 0.924);
  color: rgb(31, 25, 18);
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 1%;
  font-family: "Sniglet", cursive;
  font-size: 1.0625em;
}


.btn_reload:hover {
  background-color: rgb(179, 145, 103);
  transform: scale(1.1);
  cursor: pointer;
}


@media only screen and (max-width: 650px) {

  .btn_reload {
    width: 27%;
    margin: 2%;
    font-family: "Sniglet", cursive;
    font-size: 14px;
  }

  .row {
    flex-wrap: wrap;
    flex-direction: column;
  }
   
  .select {
    display: table-column;
    font-size: 16px;
  }
  
}