/* .header {
    background-color: rgb(148, 47, 47);
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    position: fixed;
}  */


.header {

    background: none;

    overflow-y: auto;
 
    position: fixed;
 
    top: 0;
 
    left: 0;
 
    width: 100%;
 
    backdrop-filter: blur(0.8rem);
 
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
 
 }
  .text {
    font: 1vw/1.6 'Acme', sans-serif;
    color: teal;
  }
  .text:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
